$primaryColor: #ededed;
$secondaryColor: #d1aa67;

$placeholderColor: #9e9e9e;

$white: #fff;
$border: #ccc;
$black: #000;
$bodyFontSize: 17px;
$bodyLineHeight: 1.5;
$bodyFontFamily: 'Open Sans', sans-serif;
$headingFont: 'Open Sans', sans-serif;
